# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor & IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# PyInstaller
# Usually these files are written by a python script from a template
*.manifest
*.spec

# Cython debug symbols
cython_debug/

# Testing
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Virtual machine files
*.vbox
*.vbox-prev
*.vmwarevm/

# Containers
*.dockerfile
*.yml

# Ignore specific data files
data/
*.csv
*.json
*.sqlite
*.db
